<%- include header %>
  <div align="center" style="text-align:left; width:50%; margin:0px auto;">
    <form class="form-horizontal" method="post" >
    <div class="control-group">
      <label class="control-label" for="creator">擁有者</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="creator" name="creator">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="doneeName">受款人</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="doneeName" name="doneeName">        
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="description">簡介</label>
      <div class="controls">
        <textarea class="form-control" rows="5" id="description" name="description"></textarea>
      </div>
    </div>
    <p></p>
    <div class="form-actions">
      <button type="submit" class="btn btn-danger">建立合約</button>
    </div>
  </form>
  </div>
<%- include footer %>
