<%- include header %>

<div align="center" style="text-align:left; width:50%; margin:0px auto;">
  <form class="form-horizontal" method="post" action="">
    <fieldset>
      <legend>管理者登入</legend>
      <div class="control-group">
        <label class="control-label" for="username">帳號</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="username" name="username">
          <% if (u_error != "") { %>
          <p><%= u_error %></p>
          <%  } %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password">密碼</label>
        <div class="controls">
          <input type="password" class="input-xlarge" id="password" name="password">
          <% if (p_error != "") { %>
          <p><%= p_error %></p>
          <%  } %>
        </div>
      </div>
      <p></p>
      <div class="form-actions">
        <button type="submit" class="btn btn-danger">登入</button>
      </div>
    </fieldset>
  </form>
</div>
<!-- Footer -->

<%- include footer %>